<h1>Create Login</h1>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user do |form| %>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><%= form.label :email %></span>
  </div>
  <%= form.email_field :email, :class => 'form-control', :placeholder => '360noScope@gmail.com' %>
  </div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><%= form.label :user_name %></span>
  </div>
  <%= form.text_field :user_name, :class => 'form-control', :placeholder => 'xXSn1p3r_GawDXx'%>
  </div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><%= form.label :address %></span>
  </div>
  <%= form.text_field :address, :class => 'form-control', :placeholder => '5 Chicken Street'%>
  </div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><%= form.label :password %></span>
  </div>
  <%= form.password_field :password, :class => 'form-control', :placeholder =>'password1'%>
  </div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><%= form.label :password_confirmation %></span>
  </div>
  <%= form.password_field :password_confirmation, :class => 'form-control', :placeholder => 'password1'%>
  </div>

    <%= form.submit "Sign up!", :class => "btn btn-primary" %>
<% end %>
