<div class="jumbotron">
  <h1>Order</h1>

  <%= form_tag orders_path do %>
  <article>
    <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
    <% end %>
  </article>

    <div class="row">
      <div class="col-sm-4">
        <p class="order-ptag"><%= @game.name %></p>
      </div>
      <div class="col-sm-4">
        <p class="order-ptag">Amount: $<%= @game.price %></p>
      </div>
      <div class="col-sm-4">
        <p class="order-ptag"><%= image_tag(@game.image, :class => "payment-img") %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Ordering Games"
        data-amount="<%= @game.price * 100 %>"
        data-locale="auto"></script>
        <% end %>
      </div>

      <div class="col-sm-5">

      </div>

      <div class="col-sm-1">
        <%= link_to 'Back', game_path(params[:game]), :class => "btn btn-danger" %>
      </div>
