<h1>Order</h1>
<%= form_tag orders_path do %>
<article>
  <% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  <% end %>
  <label class="amount">
  <span>Amount: $<%= @game.price %></span>
  </label>
</article>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="A month's subscription"
  data-amount="<%= @order.amount %>"
  data-locale="auto"></script>
<% end %>

<%= @game.name %>
<div class="controls">
  <%= link_to 'Back', games_path %>
</div>


<% @order.games.each do |game|  %>

    <%= game.name %>

<% end  %>
