<div class="container">
  <h1>Order</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p class="order-ptag"><%= @game.name %></p>
      </div>
      <div class="col-sm">
        <p class="order-ptag"><%= @game.price %></p>
      </div>
      <div class="col-sm">
        <div class="img-order">
          <%= image_tag(@game.image, :class => "payment-img") %>
        </div>
      </div>
    </div>
  </div>

  <%= form_tag orders_path do %>
  <article>
    <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
    <% end %>
    <label class="amount">
    <span>Amount: $<%= @game.price %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Ordering Games"
  data-amount=<%= @game.price * 100 %>
  data-locale="auto"></script>
  <% end %>

<div class="controls">
  <%= link_to 'Back', game_path(params[:game]) %>
</div>
</div>
