<div class="jumbotron">
  <h1>Order</h1>

    <div class="row">
      <div class="col-sm-4">
        <%= @game.name %>
      </div>
      <div class="col-sm-4">
        Amount: $<%= @game.price %>
      </div>
      <div class="col-sm-4">
        <div class="">
          <%= image_tag(@game.image, :class => "payment-img") %>
        </div>
      </div>
    </div>

  <%= form_tag orders_path do %>
  <article>
    <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
    <% end %>
  </article>
</div>
<div class="row">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Ordering Games"
  data-amount="<%= @game.price * 100 %>"
  data-locale="auto"></script>
  <% end %>


  <%= link_to 'Back', game_path(params[:game]) %>
</div>
