<div class="jumbotron">
  <div class="buttons">
    <%= link_to 'Back', root_path, :class => "btn btn-danger btn-lg" %>
    <% if @game.stock > 0  %>
      <%= link_to 'Add to Cart', new_order_path(:game => @game.id), :class => "btn btn-success btn-lg" %>
      <% else %>
      <h1 class="red">Out of stock</h1>
    <% end %>
  </div>
  <div class="game-show-info">
    <h1 class="display-4 centered-text"><%= @game.name %></h1>
      <div class="text-center">
        <%= image_tag(@game.image, :class => "rounded") %>
      </div>
    <ul class="list-unstyled">
      <li class="centered-text"><h5 class="text-padding">Release Date:</h5> <%= @game.release_date %></li>

      <li class="centered-text"><h5 class="text-padding">Genre:</h5> <%= @game.genre %></li>

      <li class="centered-text"><h5 class="text-padding">Price:</h5> $<%= @game.price %></li>

      <li class="centered-text"><h5 class="text-padding">Stock:</h5> <%= @game.stock %></li>

      <li class="box-text centered-text"><h5 class="text-padding">Desciption:</h5> <p class="text-justify"><%= @game.description %></p></li>
    </ul>
  </div>
    <div class="embed-responsive embed-responsive-16by9 ">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @id   %>"   frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;   <picture-in-></picture-in->picture" allowfullscreen></iframe>
    </div>
</div>
