<div class="jumbotron">
  <h1 class="display-4"><%= @game.name %></h1>
  <%= image_tag(@game.image, :class => "img-fluid") %>
  <ul>
    <li><h5>Release Date:</h5> <%= @game.release_date %></li>
    <li><h5>Genre:</h5> <%= @game.genre %></li>
    <li><h6>Price:</h6> $<%= @game.price %></li>
    <div class="max-width-text">
    <li><h5>Desciption:</h5> <%= @game.description %></li>
    </div>
  </ul>
  <%= link_to 'Cart', new_order_path(:game => @game.id), :class => "btn btn-primary btn-lg" %>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

</iframe>
