<div class="jumbotron">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><p class="stock-page-price">Name</p></th>
        <th scope="col"><p class="stock-page-price">Price</p></th>
        <th scope="col"><p class="stock-page-price">Stock</p></th>
      </tr>
  </thead>
<% @game.each_slice(1) do |game| %>
  <tbody>
      <tr>
      <td><p class="stock-page-price"><%= game[0].name %></p></td>
      <td><p class="stock-page-price">$<%= game[0].price %></p></td>
      <td><p class="stock-page-price"><%= game[0].stock %> |<%= link_to '+', add_game_path(game[0].id), :class => "btn btn-success", :method => 'post' %> <%= link_to '-', sub_game_path(game[0].id), :class => "btn btn-danger", :method => 'post' %></p></td>
      </tr>
    </tbody>
  <% end %>
</table>
</div>
