<h1>Create A Profile</h1>

<% if @user.error.any? %>
  <ol>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= message  %></li> <%# check where "message" is going or if its just a text area %>
    <% end %>
  </ol>
<% end %>

<%= form_for @user do |f| %>
<p>
  <%= f.label :email,:class => "badge badge-secondary" %>
  <%= f.email_field :email, :required => true %>
</p>

<p>
  <%= f.label :user_name,:class => "badge badge-secondary" %>
  <%= f._field :user_name, :required => true %>
</p>

<p>
  <%= f.label :email,:class => "badge badge-secondary" %>
  <%= f.email_field :email, :required => true %>
</p>

<p>
  <%= f.label :password, :class => "badge badge-secondary" %>
  <%= f.password_field :password, :required => true %>
</p>

<p>
  <%= f.label :password_confirmation, :class => "badge badge-secondary" %>
  <%= f.password_field :password_confirmation, :required => true %>
</p>

<p>
<%= f.submit "Sign Up", :class => "border border-success rounded-pill btn btn-dark" %>
</p>
<% end %>
