<!DOCTYPE html>
<html>
  <head>
    <title>OnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Home", root_path, :class => "navbar-brand"%>
      <% if @current_user.present? %>
        <% if @current_user.admin? %>
          <%= link_to "All Users", users_path, :class => "nav-link active" %>
          <%= link_to "Stock", games_stock_path, :class => "nav-link active" %>
        <% end %>

        <%= link_to 'Edit Profile', edit_user_path(@current_user),  :class => "nav-link active" %>
        <%= link_to 'View Profile' , user_path(@current_user),  :class => "nav-link active" %>
        <%= link_to "Log out #{ @current_user.email }", login_path, :method => 'delete', :class => "nav-link active"%>
      <% else %>
      <div class="navbar-collapse collaps w-120 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_path,  :class => "nav-link active" %>
            </li>
              <%= link_to 'Login', login_path,  :class => "nav-link active" %>
          </ul>


      <% end %>
      </div>
      <!-- <div class="mx-auto order-0">
       <a class="navbar-brand mx-auto" href="#">Navbar 2</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
           <span class="navbar-toggler-icon"></span>
       </button>
     </div> -->
     <!-- <div class="navbar-collapse collapse w-120 order-3 dual-collapse2">
       <ul class="navbar-nav ml-auto">
           <li class="nav-item">
               <a class="nav-link" href="#">Right</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="#">Link</a>
           </li>
       </ul>
   </div> -->


    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
          </li>
        </ul>


  </div>
</nav>

    <%= yield %>
  </body>
</html>
