<!DOCTYPE html>
<html>
  <head>
    <title>OnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>


    <div class="container">
      <nav class="nav">
      <!--Add Paths here-->
      <%= link_to 'Games' %>
      |
      <%= link_to 'Payment'%>
      |
      <%= link_to 'All Games'%>
      |
      <%= link_to 'Platforms'%>
      |
      <%= link_to 'Genres'%>
      |
      <%= link_to 'New Instructors'%>
      |

    <div class="nav-login">
      <%= link_to 'Sign-Up' %>
      |
      <%= link_to 'Login' %> <!--login_path = get '/login'-->

    <div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
