<!DOCTYPE html>
<html>
  <head>
    <title>OnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>
  </head>

  <body>


    <div class="container">
      <nav class="nav">
      <!--Add Paths here-->
      <%= link_to 'Games', games_path %>
      |
      <%= link_to 'New Games', new_game_path %>
      |
      <%= link_to 'Show Games', games_path %>
      |
      <%= link_to '#'%>
      |
      <%= link_to '#'%>
      |

    <div class="nav-login">
      <%= link_to 'Sign-Up' %>
      |
      <%= link_to 'Login', login_path %> <!--login_path = get '/login'-->

    <div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
